html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  margin-bottom: 371px;
  background-color: rgb(233,236,239);
}

.jumbotron {
  color: white;
  margin-bottom: 0;
  border-bottom: 2px solid rgb(116,230,85);
  z-index: 1;
  font-family: 'Suez One', serif;
}

.jumbotron h1 {
  font-size: 60px;
  font-family: 'Suez One', serif;
}

.jumbotron p {
  font-family: 'Suez One', serif;
  font-size: 22px;
}

.navbar {
  background-color: rgba(12,12,37,1.0);
}

.navbar-brand {
  color: white;
  margin-left: 15px;
  font-family: 'Suez One', serif;
}

.main {
  padding: 0px 10px;
  margin-left: 160px;
}

.sidenav {
    width: 130px;
    position: absolute;
    top: 525px;
    left: 10px;
    background: rgba(12,12,37,1.0);
    overflow-x: hidden;
    padding: 8px 0;
    border: 2px solid rgb(116,230,85);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
    font-family: sans-serif;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    font-size: 18px;
    color: black;
    display: block;
    color: white;
    font-family: 'Suez One', serif;
}

.sidenav a:hover {
    color: #064579;
}

.modal-header {
  background-color: rgba(12,12,37,1.0);
  color: white;
}

.modal-body {
  background-color: rgb(230,234,237);
}

#modalImg {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*cards for cryptos*/
.card-custom {
  overflow: hidden;
  min-height: 450px;
  border: 0;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}

/*footer*/
#filters {
  background-color: rgb(192,192,182);
  width:25%
}
.footerh5 {
  color: rgb(48,180,112)
}

.links {
  color: white;
}

#footer {
  bottom: -300px;
  color: rgb(244,243,243);
  width:100%;
  position: absolute;
  text-align: center;
  background-color: rgba(12,12,37,1.0);
  padding: 3% 0% 3% 0%;
  z-index: 1;
}

/*media queries*/
@media (max-width: 480px) {
  #footer {
    bottom: -500px;
  }
  .sidenav {
    padding-top: 15px;}
  .sidenav a {
    font-size: 18px;}


}

@media (max-width: 768px) {
  #footer {
    bottom: -500px;
  }
  body {
    margin-bottom: 500px;
  }


}

@media (max-width: 3000px) {
  #footer {
    bottom: -1300px;
  }
  body {
    margin-bottom: 1300px;
  }


}
