html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

#easyPaginate a{
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  background-color: rgb(233, 236, 239);
}

.jumbotron {
  color: white;
  margin-bottom: 0;
  border-bottom: 2px solid rgb(116, 230, 85);
  z-index: 1;
  font-family: 'Suez One', serif;
}

.jumbotron h1 {
  font-size: 60px;
}

.jumbotron p {
  font-family: 'Suez One', serif;
  font-size: 22px;
}

.navbar {
  background-color: rgba(12, 12, 37, 1.0);
}

.navbar a {
  font-family: 'Suez One', serif;
}

.navbar-brand {
  color: white;
  margin-left: 15px;
}

.navbar-toggler {}

.main {
  padding: 0px 10px;
  margin-left: 160px;
}

.sidenav {
  font-family: 'Suez One', serif;
  width: 130px;
  position: absolute;
  top: 500px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border: 2px solid rgb(116, 230, 85);
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #2196F3;
  display: block;
  font-family: sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

.sidenav p {
  padding: 6px 8px 6px 16px;
  font-size: 18px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.sidenav button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-bottom: 5px;
}

.modal-header {
  background-color: rgba(12, 12, 37, 1.0);
  color: white;
}

.modal-body {
  background-color: rgb(230, 234, 237);
}

#modalImg {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.favIcon {
  max-width: 25px;
}

#easyPaginate {
  border: 0px solid black;
  margin-left: -30px;
}

#easyPaginate img {
  max-width: 200px;
  min-width: 200px;
  margin: 3px;
}

.easyPaginateNav {
  text-align: center;
  font-family: 'Suez One', serif;
  border: 0px solid black;
  width: 200px;
  float: left;
  margin-left: -30px;
}

.easyPaginateNav a {
  padding:5px;
  font-size: 25px;
}

.easyPaginateNav a.current {
  font-weight:bold;
  text-decoration: none;
  color: rgb(48, 180, 112);
}

#filters {
  clear:both;
  background-color: rgb(192, 192, 182);
  width: 25%
}

.news {
  clear: both;
  position: relative;
  width: 100%;
  z-index: 1;
}

/*coin blocks*/

.footerh5 {
  color: rgb(48, 180, 112);
}

.links {
  color: white;
}

#footer {
  color: rgb(244, 243, 243);
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: rgba(12, 12, 37, 1.0);
  padding: 0% 0% 3% 0%;
  z-index: 1;
}

/*media queries*/

@media only screen and (max-width: 500px) {
  #footer {
    bottom: -1000px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .easyPaginateNav {
    margin-left: -60px;
  }

  #easyPaginate img {
    margin-left: 0px;
    max-width: 150px;
    min-width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  #footer {
    bottom: -1300px;
  }
  body {}
}

@media only screen and (min-width: 769px) {
  #footer {
    bottom: -1000px;
  }
  body {}
}
