html {
  height: 100%;
  overflow-x: hidden;

}

*, *:before, *:after, {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 100%;
  box-sizing: inherit;
  position: relative;
  margin-bottom: 371px;
  background-color: rgb(244,243,243);
}

.jumbotron {
  color: white;
}

.navbar {
  background-color: rgba(12,12,37,1.0);
}

.navbar-brand {
  color: white;
  margin-left: 15px;
}

.modal-header {
  background-color: rgba(12,12,37,1.0);
  color: white;
}

.modal-body {
  background-color: rgb(230,234,237);
}

#modalImg {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerh5 {
  color: rgb(48,180,112)
}

.links {
  color: white;
}

#footer {
  bottom: -300px;
  color: rgb(244,243,243);
  width:100%;
  position: absolute;
  text-align: center;
  background-color: rgba(12,12,37,1.0);
  padding: 3% 0% 3% 0%;
  z-index: 101;
}


@media (max-width: 480px) {
  #footer {
    bottom: -500px;
  }


}

@media (max-width: 768px) {
  #footer {
    bottom: -500px;
  }
  body {
    margin-bottom: 500px;
  }


}

@media (max-width: 3000px) {
  #footer {
    bottom: -1300px;
  }
  body {
    margin-bottom: 1300px;
  }


}
